/*** START COMMONN STYLES ***/

a, a:hover 
{
	text-decoration: none !important;
}

ul 
{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

hr 
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: white;
    border: 3px;
    border-top: 3px solid rgba(0,0,0,.1);
}


/*** END COMMON STYLES ***/



/*** START HTML PAGE STYLE ***/

html
{
	scroll-behavior: smooth;
}

/*** END HTML PAGE STYLE ****/

/*** START BODY STYLE ***/

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

/*** END BODY STYLE ****/

/*** START NAVBAR STYLE ***/

.navbar 
{
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative;
    padding: 0 !important;
}

.header-section 
{
    transition: all .3s ease-in-out;
}

.header-section
{
    background-color:#222227;
    width:100%;
    height:120px;
    z-index:999;
    position:fixed;
    left:0;
    top:0;
    padding:0;
    display:flex;
    align-items:center
}

.menu-wrap 
{
    position: relative;
}

ul.nav>li 
{
    position: relative;
}

ul.nav>li>a 
{
    color: #ddd;
    font-family: work sans,sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 80px;
    z-index: 1;
    transition: 0.5s;

}

.header-btn .menu-btn 
{ 
    background-color: #ffc851; 
    font-family: work sans,sans-serif; 
    font-size: 12px; 
    text-transform: uppercase; 
    color: #fff; 
    padding: 0 30px; 
    height: 45px; 
    line-height: 45px; 
    display: block; 
    margin: 0; 
}

.header-btn .menu-btn:hover 
{
    opacity: .8;
}

ul.nav>li>a:hover
{
    color: #ffc851;
}

/*** END NAVBAR STYLE ***/

/*** START HOME SECTION STYLE ***/

.home-section 
{
    background: url(../images/home_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    background-attachment: fixed;
}

.bttn_style_1
{
    font-family: "Work Sans",sans-serif;
    letter-spacing: 3px;
    background-color: transparent;
    color: white !important;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    border: 2px solid white;
    opacity: 1;
}
    
.bttn_style_1:hover
{
    opacity: 0.6;
}
    
.bttn_style_2
{
    font-family: "Work Sans",sans-serif;
    letter-spacing: 3px;
    background-color: #ffc851;
    color: rgb(18, 22, 24);
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    border: 2px solid #ffc851;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.bttn_style_2:before 
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #222227;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.bttn_style_2:hover:before 
{
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.bttn_style_2:hover 
{
    color: #ffc851;
    border-color: #222227;
}

.home-section h1
{
    color: rgb(255, 255, 255);
    white-space: nowrap;
    letter-spacing: 12px;
    font-weight: 400;
    font-size: 50px;
}

.home-section h2
{
    color: rgb(255, 255, 255);
    white-space: nowrap;
    letter-spacing: 12px;
    font-weight: 400;f
    ont-size: 30px;
}

.home-section p
{
    color: rgb(255, 255, 255);
    white-space: nowrap;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 17px;
}




/*** END HOME SECTION STYLE ***/

/*** START OUR QUALITIES SECTION STYLE ***/

.our_qualities
{
    background: url(../images/our_qualities_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}
.our_qualities_column
{
    text-align: center;
}

/*** END OUR QUALITIES SECTION STYLE ***/

/*** START OUR MENUS SECTION STYLE ***/

.thumbnail 
{
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    text-align: center;
    background: inherit;
}

.our_menus, .image-gallery
{
    color: #dce4e8;
    padding: 100px 0px;
    background:#121618;
}

.menu_category_name
{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 22px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tab_category_content
{
    display: none;
}

    
.no_menus_div
{
    margin:auto;
    font-size: 26px;
    font-weight: bold;
    width: fit-content;
    color: #ffc851;
}

.active_category
{
    color: #ffc851;
}


.menu-image 
{
    position: relative;
    max-width: 200px;
    margin: 50px auto;
}

.menu-image .image-preview 
{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #222227;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.menu-image .image-preview > div 
{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.thumbnail>.caption>p
{
    font-size: 14px;
    line-height: 28px;
    margin-top: 14px;
}

.menu_price
{
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3px;
    display: block;
}




/*** END OUR MENUS SECTION STYLE ***/




